body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}
h1 {
    font-size: 40px;
    margin: 20px;
}
.button {
    height: calc((100vh / 8) - (5px * 5) - 25px);
    min-height: 50px;
    font-size: clamp(16px, 6vh, 32px); /* Scales with viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: calc(100vw - 25px);
    background-color: rgb(17, 17, 17);
    border: solid 2px #ffffff;
    color: white;
    padding: 10px 0 10px 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 250ms;
}

.button:hover {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    padding: 15px 0 15px;
    transition: 250ms;
}

.button:active {
    color: rgb(255, 255, 255);
    padding: 20px 0 20px;
    transition: 50ms;
}
#spotify:hover{
    background-color: #1db954;
    color: black;
}
#youtube:hover{
    background-color: #ff0000;
}
#google:hover{
    background-color: #ffffff;
    color: black;
}
#map:hover{
    background-image: linear-gradient(to bottom left, #4286f4, #FBBC05);
}
#github:hover{
    background-color: #7400a1;
}
#proton:hover{
    background-color: #2f00ff;
}
#photos:hover{
    background-color: #dd7f03;
}
#chatgpt:hover{
    background-color: #0099ad;
    color: black;
}